# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.dotaMod.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\vvezvi\Documents\My Games\Terraria\ModLoader\Mod Sources\dotaMod\.idea\.idea.dotaMod\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
